version: "3.8"
services:
  builder:
    # Docker container for building the code.
    build:
      context: .
      dockerfile: dockerfiles/ros_env.docker
      target: builder
      args:
        # Force the user in the container to have the same UID to avoid permission issues.
        ROS_UID: "${ROS_UID}"
    ports:
      - "1824:22"
    volumes:
      - .:/home/ros/ros_libcamera
